<main class="container-fluid my-5 row">
  <section id="filters" class="col-2">
    <form [formGroup]="filtros_forms">
      <div class="container border border-primary">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <div>
              <label class="mr-sm-2 my-2">Filtrar</label>
            </div>

            <select
              class="custom-select"
              id="inlineFormCustomSelect"
              formControlName="precio"
            >
              <option selected value="Todo">Todo</option>
              <option value="0/50000">$0-$50.000</option>
              <option value="50000/100000">$50.000-$100.000</option>
              <option value="100000">&lt;$100.000</option>
            </select>
          </div>
          <hr />
          <div class="col-auto my-2">
            <label class="mr-sm-2">Categorias</label>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="categoriaCheck1"
                formControlName="categoria_1"
              />
              <label class="custom-control-label mx-2" for="categoriaCheck1"
                >categoria 1</label
              >
            </div>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="categoriaCheck2"
                formControlName="categoria_2"
              />
              <label class="custom-control-label mx-2" for="categoriaCheck2"
                >categoria 2</label
              >
            </div>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="categoriaCheck3"
                formControlName="categoria_3"
              />
              <label class="custom-control-label mx-2" for="categoriaCheck3"
                >categoria 3</label
              >
            </div>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="categoriaCheck4"
                formControlName="categoria_4"
              />
              <label class="custom-control-label mx-2" for="categoriaCheck4"
                >categoria 4</label
              >
            </div>
          </div>
          <hr />
          <div class="col-auto">
            <label class="mr-sm-2">Tipo</label>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="tipoCheck1"
                formControlName="tipo_1"
              />
              <label class="custom-control-label mx-2" for="tipoCheck1"
                >tipo 1</label
              >
            </div>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="tipoCheck2"
                formControlName="tipo_2"
              />
              <label class="custom-control-label mx-2" for="tipoCheck2"
                >tipo 2</label
              >
            </div>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="tipoCheck3"
                formControlName="tipo_3"
              />
              <label class="custom-control-label mx-2" for="tipoCheck3"
                >tipo 3</label
              >
            </div>
            <div class="d-flex flex-row custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input text"
                id="tipoCheck4"
                formControlName="tipo_4"
              />
              <label class="custom-control-label mx-2" for="tipoCheck4"
                >tipo 4</label
              >
            </div>
          </div>
          <div class="col-auto my-1 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section id="products" class="col-10 border border-secondary">
    <div class="container-fluid align-items-center">
      <select
        class="form-control form-control-sm w-25 my-4"
        [(ngModel)]="orden"
      >
        <option selected value="true">Mas nuevo...</option>
        <option value="false">Mas antiguo...</option>
      </select>

      <div class="products my-5 mx-5">
        <div class="d-flex flex-wrap justify-content-start">
          <ng-container
            *ngFor="
              let producto of productos | filterDate : orden | filter : search
            "
          >
            <app-card [datos]="producto"></app-card>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</main>
